*{
    box-sizing: border-box;
}

html{    
    border-top: 6px solid turquoise;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display:flex;
}

body{
    min-width: 1200px;
    margin: auto;
}