*{
    box-sizing: border-box;
    /* outline: 1px solid #f00 !important; */
}

html{    
    border-top: 6px solid turquoise;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display:flex;
    flex-direction: column;
    max-height:100vh;
    margin:0px;
}

body{
    min-width: 1200px;
    margin: 0px auto;
    min-height: calc(100vh - 6px);
}